<style>
  body {
    padding-top: 30px;
  }

  .navbar {
    background-color: black;
  }
</style>

<nav class="navbar navbar-dark fixed-top" style="font-family: 'DejaVu Sans Mono', monospace;">
  <a class="navbar-brand" href="#">Navigate Your Financial Odyssey</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Horus <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Horus Time Trek</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">HorusCraft Forge</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Horus Odyssey</a>
      </li>
    </ul>
  </div>
</nav>


